@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,900;1,900&display=swap');
*{
    max-width: 100%
    overflow: hidden;
    padding:0;
    margin:0;
    font-family: 'Merriweather', serif;
}
header{
    
    border: 2px solid black;
    background:rgb(121, 121, 238);
    
}
h1{
    font-family: 'Merriweather', serif;
    font-size:45px;
    color:white;
    margin:65px 30px 30px 50px;
   
}
nav{
    display:flex;
    height:120px;
    width:60%;
}

p{
    display:flex;
    align-items:flex-end;
    
}
   
   nav a{
    display:flex;
    height:17px;
    width:60px;
    text-decoration:none;
    font-family:bold;
    color:white;
    font-size:14px;
    margin: 60px 0px 60px 0px;
    padding:20px 20px 20px 20px;
    border:2px solid black;
    transition:.3s;
    

}
section{
    display:flex;
    justify-content:space-evenly;
    align-content:space-evenly;
    height: 200px;
    width:200px;
}
.image{
    
    background:url(https://picsum.photos/150);
    height:150px;
    width:150px;
    padding:10px;
    border-radius:10px;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-content:space-around;
}
section{
    display:flex;
    justify-content:space-evenly;
    align-content:space-evenly;
    flex-wrap:wrap;
    width:100%;
    border:1px solid black;
    height:60vh;
  }
  .image{
    background:url(https://picsum.photos/150);
    height:150px;
    width:150px;
    padding:10px;
    border-radius:10px;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
  }
  .text{ 
      margin:2px 0px 0px 0px; 
    
  }
  .text a{
    font-family:arial;
    font-size:1.2rem;
    text-decoration:none;
    color:white;
    text-shadow:1px 1px black;
  }
  